<html>
    <head>
       {% if title %}
       <title>{{ title }} - SoloProjectProject</title>
       {% else %}
       <title>Wellcome to the SoloProject Project</title>
       {% endif %} 
    </head>
    <body>
        <!--Navigation bar-->
        <div>
            SoloProjectProject: 
            <a href="/index">Home</a>
            <a href="{{ url_for('login') }}">Login</a>        
        </div>
        <hr>
        <!--'with' assigns flashMessage to message var-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>